.App {
  text-align: center;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/poppins/Poppins-Medium.ttf');
}
@font-face {
  font-family: Mulish;
  src: url('./fonts/mulish/Mulish-Black.ttf');
}
@font-face {
  font-family: MulishLight;
  src: url('./fonts/mulish/Mulish-Light.ttf');
}

.App {
  font-family: 'Poppins';
}


